html {
    font-size: 100%
  }
  
  body {
    font-size: 1em
  }
  
  p{
   margin-bottom:1em;
  }
  

/* title */
.page-header{
    text-align: center;
    margin-top: 20px;
    
}

  .btn {
    font-size: 1em
  }
  
  .btn-lg{
    line-height: 1.5;
  }
  
  .h1, h1 {
    font-size: 2em
  }
  
  .h2, h2 {
    font-size: 1.8em
  }
  
  .h3, h3 {
    font-size: 1.6em
  }
  
  .h4, h4 {
    font-size: 1.4em
  }
  
  .h5, h5 {
    font-size: 1.2em
  }
  
  .h6, h6 {
    font-size: 1em
  }
  

  #first_name{
      width: 100px;
  }
  .nav, .navbar {
    font-size: 1em
  }
  
  .navbar-brand {
    font-size: 1.2em
  }
  
  .control-label, .form-control, input, label {
    font-size: 1em
  }
  
  .form-control {
    padding: .4em .8em;
    height: 2.5em;
  }
  
  .input-lg {
    font-size: 1.2em;
    padding: .625em 1em;
    height: 2.875em
  }
  
  .input-sm {
    height: 2.2em;
    font-size: .85em;
    padding: .3125em .625em
  }
  
  .label {
    line-height: 2
  }
  
  .badge {
    font-size: .85em;
    min-width: 1em;
    padding: .225em .7em
  }
  
  .dropdown-header, .dropdown-menu {
    font-size: 1em
  }
  
  .panel-title {
    font-size: 1em
  }
  
  .jumbotron {
    font-size: 1em
  }
  
  .jumbotron .h1, .jumbotron h1 {
    font-size: 3.9375em
  }
  
  .jumbotron p {
    font-size: 1.3125em
  }
  /*Begin data table tweaks*/
  .table button.btn-danger{
    background-color:#661312;
    border-color:#661312;
  }
  .table button.btn-danger:hover{
    background-color:#912222;
    border-color:#912222;
  }
  button.btn:hover, button.btn:focus{
    text-decoration:underline;
  }
  .paginate_button a:hover,
  .paginate_button a:focus,
  .paginate_button.active a{
    text-decoration:underline;
  }
  .table-striped > tbody > tr:nth-of-type(2n+1){
    background-color:#f0f0f0;
  }
  th:focus, td:focus, tr:focus{
    outline: 1px solid #66AFE9;
    box-shadow:0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
  }